* {
  box-sizing: border-box;
}

:root {
  --primary-bg-purple: #7464bc;
  --powder-black: #34342c;
  --magma-red: #ff4e01;
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  position: relative;
  padding-bottom: 3em;
}

/* Button Styles */

.submit-btn, .comment-btn, .close-btn {
  border: none;
  border-radius: 3px;
  padding: 0.75em;
  cursor: pointer;
  background-color: var(--powder-black);
  color: #ffffff;
  font-weight: 700;
  margin-top: 1em;
}

.submit-btn:focus, .submit-btn:hover {
  background-color: #ffffff;
  color: var(--powder-black);
}

.submit-btn:disabled, .comment-btn:disabled {
  background-color: #818181;
}

.back-btn, .edit-btn {
  display: inline-block;
  background-color: #c6bcbc;
  color: var(--powder-black);
  padding: 0.5em 1em; 
  margin-bottom: 1em;
  border: none;
}

.back-btn:hover, .back-btn:focus, .edit-btn:hover, .edit-btn:focus {
  background-color: #e4d8d8;
}

.favorite-btn, .unfavorite-btn, .follow-btn, .unfollow-btn, .delete-btn {
  padding: 0.5em 1em;   
  margin-bottom: 1em;
}

.favorite-btn, .follow-btn {
  border: none;
  cursor: pointer;
  background-color: #0b6623;
  color: #ffffff;
}

.favorite-btn:hover, .favorite-btn:focus, .follower-btn:hover, .follower-btn:focus {
  background-color: #10a738;
} 

.unfavorite-btn, .unfollow-btn, .delete-btn {
  border: none;
  cursor: pointer;
  background-color: var(--magma-red);
  color: #ffffff;
}

.unfavorite-btn:hover, .unfavorite-btn:focus,.unfollow-btn:hover, .unfollow-btn:focus, .delete-btn:hover, .delete-btn:focus {
  background-color: #ff7134;
}

.close-btn {
  margin-left: 1em;
}

.comment-btn:hover, .comment-btn:focus, .close-btn:hover, .close-btn:focus {
  background-color:#5f5f5f;
}

.logout-btn {
  background-color: var(--magma-red);
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  align-self: center;
  cursor: pointer;
  width: 100%;
  padding: 0.5em 0;
}

/* Form Styles */

.registration, .login, .recipe-creation, .recipe-revision, .profile-revision {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-image: url('../images/restaurant.png');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.login h1, .registration h1 {
  color: #ffffff;
  text-align: center;
  margin: 2em 0 0 0;
  font-size: 4rem;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  border-radius: 5px;
  margin: 1em 1em 0;
}

.login-form a, .register-form a {
  align-self: center;
  color: inherit;
  text-decoration: none;
  margin-top: 1em;
}

.login-form a:hover, .register-form a:hover {
  color: var(--primary-bg-purple);
  text-decoration: underline;
}

.form-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 0.25em;
  text-align: center;
}

.form-label {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}

.form-input {
  display: block;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em 0;
}

.input-field {
  margin-bottom: 1em;
}

textarea {
  resize: none;
}

.input-error {
  border-color: var(--magma-red);
  background-color: green;
}

.error-message {
  color: var(--magma-red);
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.5em 0 0 0;
}

.response-error {
  color: var(--magma-red);
  font-size: 1.6rem;
  font-weight: 700;
  align-self: center;
  margin-bottom: 1em;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  row-gap: 2em; 
} 

/* Creation and Revision Styles */

.recipe-creation-form, .recipe-revision-form, .profile-revision-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.recipe-creation-form .submit-btn, .recipe-revision-form .submit-btn, .profile-revision-form .submit-btn {
  align-self: stretch;
}

.file { 
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
  margin-top: 2em;
}

.file-input label { 
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background: var(--primary-bg-purple); 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.8rem; 
  font-weight: 700;
  cursor: pointer; 
}  
/* Home Screen Styles */ 

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #ffffff;
  background: var(--powder-black);
} 

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1.6rem;
  font-weight: 700;
  flex-basis: 50%;
} 

.main-menu {
  display: flex; 
  position: fixed;
  inset: auto 0 0 0;
  padding: 1em;
  background-color: var(--powder-black);
  justify-content: center;
  align-items: center;
  column-gap: 4em;
} 

.menu-icon {
  color: #ffffff;
  font-size: 2.5rem;
}

.active {
  color : var(--primary-bg-purple);
}



/* Recipe Title Styles */

.recipe-tile {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  width: 100%;
  padding: 1em;
}

.recipe-tile a {
  display: flex;
  justify-content: center;
}

.recipe-name {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}


/* Recipe Detail Styles */ 

.recipe {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
} 

.back-btn {
  align-self: start;
}

.options {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  align-items: center;
}

.recipe-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5em;
}

.author {
  margin-top: 0;
  align-self: end;
}


.show-comments {
  border: none;
  background-color: var(--powder-black);
  color: #ffffff;
  padding: 0.5em 1em;
  align-self: center;
  margin: 2em 0;
  cursor: pointer;
}

.show-comments:hover, .show-comments:focus {
  background-color:#5f5f5f;  
}

.comments {
  display: flex;
  flex-direction: column; 
  margin-top: 2em;
} 

.comment-input {
  display: inline-block;
  width: 100%;
  border-radius: 0;
  background-color: #f5f3f3;
  text-indent: 0.5em;
  height: 110px;
}


/* Comment Styles */

.comment {
  background-color: #f5f3f3;
  border-bottom: 1px solid var(--powder-black);
  padding: 1em;
}

.edit-comment {
  background-color: #ffffff;
}

.comment:last-child {
  border: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin-right: 1em;
}

.user-name {
  font-size: 2rem;
  font-weight: 700;
  margin-right: auto;
}

.comment-text {
  margin-top: 1em;
}

.comment-options {
  display: flex;
  justify-content: end;
}

.comment-options .delete-btn {
  margin-left: 1em;
}

/* Profile Styles */

.profile { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.user-info {
  display: flex; 
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  margin-bottom: 2em;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
}

.profile-name {
  font-size: 2.5rem;
  font-weight: 700;
}

.profile-statistics {
  display: flex;
  column-gap: 1em;
  margin-bottom: 1em;
}

.profile-statistics div {
  text-align: center;
}

.profile-statistics div p {
  font-weight: 700;
}

.profile-options {
  margin: 1em 0;
}

.biography {
  text-align: center;
}
/* Settings Styles */

.settings {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
