* {
  box-sizing: border-box;
}

:root {
  --primary-bg-purple: #7464bc;
  --primary-light: #ffffff;
  --primary-dark: #3a3b3c;
  --powder-black: #34342c;
  --magma-red: #ff4e01;
  --nice-green: #0b6623;
  --light-gray: #5f5f5f;
  --very-light-gray: #c6bcbc;
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  position: relative;
}

.container-light, .container-dark {
  min-height: 100vh;
  padding-bottom: 3em;
}

.container-light {
  color: var(--powder-black);
  background-color: var(--primary-light)
}

.container-dark {
  color: var(--primary-light);
  background-color: var(--primary-dark);
}

.logo-text {
  font-size: 3.2rem;
  padding: 0.35em 0;
}

/* Button Styles */

.primary-light-btn, .primary-dark-btn {
  border: none;
  border-radius: 3px;
  padding: 0.75em;
  cursor: pointer;
  font-weight: 700;
  margin-top: 1em;
}

.primary-light-btn {
  background-color: var(--powder-black);
  color: #ffffff;
}

.primary-dark-btn {
  background-color: #ffffff;
  color: var(--powder-black);
}

.primary-light-btn:hover, .primary-light-btn:focus, .primary-dark-btn:hover, .primary-dark-btn:focus {
  background-color: var(--light-gray);
}

.primary-light-btn:disabled, .primary-light-btn:disabled {
  background-color: #818181;
}

.secondary-light-btn, .secondary-dark-btn {
  display: inline-block;
  padding: 0.5em 1em; 
  margin-bottom: 1em;
  border: none;
  cursor: pointer;
}


.secondary-light-btn {
  background-color: var(--very-light-gray);
  color: var(--powder-black);
}

.secondary-dark-btn {
  color: var(--powder-black);
  background-color: #ffffff;
}

.secondary-light-btn:hover, .secondary-light-btn:focus {
  background-color: #e4d8d8;
}

.secondary-dark-btn:hover, .secondary-dark-btn:focus {
  background-color: var(--light-gray);
}

.option-btn {
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;   
  margin-bottom: 1em;
  color: #ffffff;
}

.green-accent {
  background-color: var(--nice-green);
}

.green-accent:hover, .green-accent:focus {
  background-color: #10a738;
} 

.red-accent {
  background-color: var(--magma-red);
}

.red-accent:hover, .red-accent:focus {
  background-color: #ff7134;
}

.logout-light-btn, .logout-dark-btn, .delete-profile { 
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  align-self: center;
  cursor: pointer;
  width: 100%;
  padding: 0.5em 0;
}

.delete-profile {
  color: #ffffff;
  background-color: var(--magma-red);
}

.delete-profile:hover, .delete-profile:focus {
  background-color: #d9c8c1
}

.logout-light-btn {
  color: #ffffff;
  background-color: var(--powder-black);
}

.logout-light-btn:hover, .logout-light-btn:focus, .logout-dark-btn:hover, .logout-dark-btn:focus {
  background-color:#5f5f5f;
}

.logout-dark-btn {
  color: var(--powder-black);
  background-color: #ffffff; 
} 

.return-btn {
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding: 0.5em 1em;
  border-radius: 4px;
}

.return-btn:hover, .return-btn:focus {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}


/* Form Styles */

.form-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-image: url('../images/restaurant.png');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.login h1, .registration h1 {
  color: #ffffff;
  text-align: center;
  margin: 2em 0 0 0;
  font-size: 4rem;
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
  border-radius: 5px;
  margin: 1em 1em 0;
}

.login-form a, .register-form a {
  align-self: center;
  color: inherit;
  text-decoration: none;
  margin-top: 1em;
}

.login-form a:hover, .register-form a:hover {
  color: var(--primary-bg-purple);
  text-decoration: underline;
}

.form-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 0.25em;
  text-align: center;
}

.form-label {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}

.form-input {
  display: block;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em 0;
}

.input-field {
  margin-bottom: 1em;
}

textarea {
  resize: none;
}

.error-message {
  color: var(--magma-red);
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0.5em 0 0 0;
}

.response-error {
  color: var(--magma-red);
  font-size: 1.6rem;
  font-weight: 700;
  align-self: center;
  margin-bottom: 1em;
}

.recipes, .user-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  row-gap: 2em; 
} 

/* Creation and Revision Styles */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.form button {
  align-self: stretch;
}

.file { 
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
  margin-top: 2em;
}

.file-input label { 
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background: var(--primary-bg-purple); 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1.8rem; 
  font-weight: 700;
  cursor: pointer; 
}  
/* Home Screen Styles */ 

.home-header-light, .home-header-dark  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
} 

.home-header-dark {
  color: var(--primary-light);
  background: var(--powder-black);
}

.home-header-light {
  color: var(--powder-black);
  background-color: var(--primary-light);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1.6rem;
  font-weight: 700;
  flex-basis: 50%;
} 

.main-menu-light, .main-menu-dark {
  display: flex; 
  position: fixed;
  inset: auto 0 0 0;
  padding: 1em;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  column-gap: 4em;
} 

.main-menu-light {
  background-color: var(--primary-light);
  color: var(--powder-black);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
}

.main-menu-dark {
  background-color: var(--powder-black);
  color: var(--primary-light);
}

.active {
  color : var(--primary-bg-purple);
}

/* Recipe Tile Styles */

.recipe-tile {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  width: 100%;
  padding: 1em;
}

.recipe-tile a {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.recipe-name {
  font-size: 2rem;
  font-weight: 700;
}

.author-info {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.author-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.author-name {
  font-size: 1.8rem;
  font-weight: 700;
}

/* Recipe Detail Styles */ 

.recipe {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
} 

.back-btn {
  align-self: start;
}

.options {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  align-items: center;
}

.recipe-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5em;
}

.author {
  margin-top: 0;
  align-self: end;
}

.show-comments-light, .show-comments-dark {
  border: none;
  padding: 0.5em 1em;
  align-self: center;
  margin: 2em 0;
  cursor: pointer;
}

.show-comments-light {
  background-color: var(--powder-black);
  color: #ffffff;
}

.show-comments-light:hover, .show-comments-light:focus {
  background-color:#5f5f5f;  
}

.show-comments-dark {
  background-color: #ffffff;
  color: var(--powder-black);
}

.show-comments-dark:hover, .show-comments-dark:focus {
  background-color:#5f5f5f;
}

.comments {
  display: flex;
  flex-direction: column; 
  margin-top: 2em;
} 

.comment-input-light, .comment-input-dark {
  display: inline-block;
  width: 100%;
  border-radius: 0; 
  text-indent: 0.5em;
  height: 110px;
  color: var(--powder-black);
}

.comment-input-light { 
  background-color: #f5f3f3;
}

.comment-input-dark { 
  background-color: var(--primary-light);
}

.comment-form .red-accent {
  margin-left: 1em;
}

/* Comment Styles */

.comment-light, .comment-dark {
  color: var(--powder-black);
  padding: 1em;
}

.comment-light {
  background-color: #f5f3f3;
  border-bottom: 1px solid var(--powder-black);
}

.comment-dark {
  background-color: var(--primary-light);
  border-bottom: 1px solid var(--very-light-gray);
}

.edit-comment-light {
  background-color: #ffffff;
}

.edit-comment-dark {
  background-color: #f5f3f3;
}
.comment-light:last-child, .comment-dark:last-child {
  border: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1em;
  object-fit: cover;
}

.user-name {
  font-size: 2rem;
  font-weight: 700;
  margin-right: auto;
}

.comment-text {
  margin-top: 1em;
}

.comment-options {
  display: flex;
  justify-content: end;
  align-items: center;
}

.comment-options > button{
  margin: 0;
}

.comment-options .secondary-dark-btn {
  color: var(--primary-light);
  background-color: var(--powder-black);
}

.comment-options .red-accent {
  margin-left: 1em;
}

/* Profile Styles */

.profile { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.profile-info {
  display: flex; 
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  margin-bottom: 2em;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
  object-fit: cover;
}

.profile-name {
  font-size: 2.5rem;
  font-weight: 700;
}

.profile-statistics {
  display: flex;
  column-gap: 1em;
  margin-bottom: 1em;
}

.profile-statistics div {
  text-align: center;
}

.profile-statistics div p {
  font-weight: 700;
}

.profile-options {
  margin: 1em 0;
}

.biography {
  text-align: center;
}

.profile-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.profile-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1.6rem;
  font-weight: 700;
  flex-basis: 33.333%;
}  

.users {  
  padding: 1em;
}

.users-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
  row-gap: 1em;
}

.user {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  width: 100%;
}

.user a {
  display: flex;
  column-gap: 1em;
  padding: 1em;
  align-items: center;
}  

.user-comment { 
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  width: 100%;
  padding: 1em;
}

.user-comment a { 
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

/* Settings Styles */


.settings {
  display: flex;
  flex-direction: column;
  padding: 1em;
  row-gap: 2em;
}

.settings h1 {
  text-align: center;
}

.theme-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-setting p {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.enabled, .disabled {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.enabled {
  color: var(--nice-green);
}

.disabled {
  color: var(--magma-red);
}

/* Error Page */

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg-purple);
  min-height: 100vh;
  padding: 2em 1em 0;
  text-align: center;
  row-gap: 1em;
  color: var(--primary-light);
}

.error-page h2 {
  font-size: 4.5rem;
  margin: 0;
}

.error-page p {
  font-size: 2rem;
}

p.error-code { 
  font-size: 3rem;
  font-weight: 700;
}
